
* {
padding: 0;
margin: 0;
}
.leftcol {
float:left;

}
.rightcol {
float:right;
}
.header {
display:inline-block;

}
body {
	font-family: Arial, Verdana, sans-serif;
	font-style: normal;
	font-size: 100%;
	background-color: white;
}

.navButton {
	padding:0px;
	background-color: blue;
	color: white;
}
.navButtonHover {
	background-color: red;
}
.indentBoth {
	margin: 0 15%;
}
textarea {
	display: block;
	padding: 10px;
	margin: 10px auto;
}
.navBar li
{
	display:inline-block;
    list-style-type: none;
    color: black;
	padding: 8px 17px;
	font-size: 16pt;
	background-color: white;
	border-bottom: 1px solid #999999;
	border-right: 2px solid #999999;
	float:left;
	
}

.navBar ul
{
    display: none;
    position: absolute;
}
.navBar li:hover > ul
{
    display: block;
}
.navBar ul.parent_hover
{
    display: block;
}
.navBar a
{
    color: black;
    background: none;
    width: 100%;
    text-decoration: none;
}
.navBar li:hover
{
    color: white;
	background-color: 1766a6;
}
.navbar
{
	position: relative;
    width: 100%;
    color: black;
    background-color: white;
}
